from PIL import Image
image = Image.open("monro.jpg")
red, green, blue = image.split()  
coordinates1 = (50, 0, image.width, image.height)
coordinates2 = (25, 0, image.width-25, image.height)
coordinates3 = (0, 0, image.width-50, image.height)
cropped1 = red.crop(coordinates1)
cropped2 = red.crop(coordinates2)
image1 = Image.blend(cropped1,cropped2, 0.5)
cropped3 = blue.crop(coordinates2)
cropped4 = blue.crop(coordinates3)
image2=Image.blend(cropped3,cropped4, 0.5)
cropped5 = green.crop(coordinates2)
image3 = Image.merge("RGB", (image1,cropped5,image2))
image3.save("monro_new.jpg")
image3.thumbnail((80, 80))
image3.save("final_image.jpg")  
